<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">

  <div class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="/">Username : <%= name %></div>

  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
      data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <form action="/logout" method="get" class="position-relative p-3"
  onsubmit="return confirm('Are you sure you want to logout?');">
  <button type="submit" class="btn btn-danger btn-small">
      Logout
  </button>
</form>
</header>