<style>
    .nav-link.active {
      color: blue !important;
    }
    .nav-link.black {
      color: black !important;
    }
 
.nav-link:hover{
  color:aquamarine;
  background-color: cadetblue;
}
</style>

<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse bg-light">

  <div class="position-sticky pt-3 sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link black"  aria-current="page" href="/dashboard">
          <i class="bi bi-house"></i>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link black"  id="dashboard" href="/group" >
          <i class="bi bi-patch-question"></i>
          group
        </a>
      </li>
    </ul>
  </div>
</nav>

